! XFT Settings
     
Xft.dpi:                                        96
Xft.antialias:                                  true
Xft.rgba:                                       rgb
Xft.hinting:                                    true
Xft.hintstyle:                                  hintslight

! URXVT - Settings
 
!URxvt*geometry:                                 80x25
!URxvt*foreground:                               #E5E5E5
!URxvt*background:                               #151515
URxvt*borderLess:                               false
URxvt*scrollBar:                                false
URxvt*cursorBlink:                              true
URxvt*cursorUnderline:                          true
!URxvt*cursorColor:                              #ffffff
!URxvt*scrollColor:                              #151515
URxvt*font:                                     xft:Terminus:style=Regular: pixelsize=13
URxvt*boldFont:                                 xft:Terminus:style=bold:pixelsize=13
URxvt*italicFont:                               xft:Terminus:style:italic:pixelsize=13
URxvt*boldItalicFont:                           xft:Terminus:pixelsize=13:style=BoldItalic
URxvt.letterSpace :                             0
URxvt.underlineURLs:                            true
URxvt.url-select.underline:                     true

!-------------------------------------------------------COLORS--------------------------------------------------------------------


! --- special colors ---

*background: #0A0A0A
*foreground: #DADADA

! --- standard colors ---

! black
*color0: #000000

! bright_black
*color8: #2f2f2f

! red
*color1: #c01b73

! bright_red
*color9: #c01b73

! green
*color2: #5EE600

! bright_green
*color10: #5EE600

! yellow
*color3: #fb8c00

! bright_yellow
*color11: #fb8c00

! blue
*color4: #196fc6

! bright_blue
*color12: #196fc6

! magenta
*color5: #6d1bc6

! bright_magenta
*color13: #6d1bc6

! cyan
*color6: #1DE98F

! bright_cyan
*color14: #1DE98F

! white
*color7: #dadada

! bright_white
*color15: #ffffff


